---
import Button from '~/components/ui/Button.astro';
import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Layout from '~/layouts/PageLayout.astro';
import { getPermalink } from '~/utils/permalinks';
import Content from '~/components/widgets/Content.astro';



// created_at
const metadata = {
  title: 'Onboard to DeFi in minutes with Hexa Lite',
  description: 'Hexa Lite software is starting by the main team of HexaOne Labs, a Swiss based organization focused on innovation in the decentralized finance sector.',
};
const appDownloadLink = getPermalink('/download');

const onBoardingImg = '~/assets/images/onboarding.png';
const onboardSecurityImg = '~/assets/images/onboarding-security.png';
const onboardBackupImg = '~/assets/images/onboarding-backup.png';
---
<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        text: 'Learn more',
        href: '#tired-paying-excessive-transaction-fees',
      },
    ]}>
    <Fragment slot="title">
      Connect to your Wallet
      <br /> 
      <span class="text-accent text-5xl dark:text-white highlight">
        & build your financial freedom
      </span>
    </Fragment>

    <Fragment slot="subtitle">
      Use your social login, email or external device to connect in minute to your wallet, allowing complete control & ownership of your digital assets.
    </Fragment>
  </Hero>

  <Content
    id="tired-paying-excessive-transaction-fees"
    items={[
      {
        title: `Instant Account Creation`,
        description: `
        Within a minute, you can be up & running, ready to explore the full range of our financial services. 
        Our platform is built to accommodate your needs swiftly, without any unnecessary steps.`,
      },
      {
        title: `Multiple Login Options`,
        description: `
          We offer Multiple Login Options to cater to your unique needs. 
          Whether you prefer the convenience of social login, the reliability of email, or the security of a digital wallet, we have you covered.
        `
      },
      {
        title: `Multi-chain Wallet`,
        description: `
          With you cross-chain compatible wallet, you can to manage your assets across multiple blockchains. 
          This flexibility ensures that you can access a wide range of financial services from blockain like Bitcoin, Solana, Ethereum, Base, Polygon, Arbitum or any other EVM blockchain, all in one place.
        `
      }
    ]}
    image={{
      src: onBoardingImg,
      alt: 'Quick & Easy Onboarding',
      class: 'fitContent m-auto ',
    }}
    classes={{
      wrapperClass: 'shader__section',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Quick & Easy Onboarding
      </h3>
      Connect with simplicity and efficiency, our solution ensuring you can get started on your financial journey in minute 
      with a streamlined process that designed to be user-friendly and accessible, no matter your preferred method of login.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>


  <Content
    isReversed
    items={[
      {
        description: `
        You are the only custodian of your assets. This autonomy ensures that you have the ultimate say in how your assets are handled. 
        Whether it's making transactions, accessing funds, or managing your portfolio, every action is under your direct control.`,
        title: `Total Control Over Your Assets`,
      },
      {
        description: `Eliminate the risk associated with third-party custodians. 
        Your assets are secured with advanced encryption and stored directly in your device. 
        This setup minimizes the risk of external breaches and ensures that your financial privacy is preserved.`,
        title: 'Enhanced Security & Privacy',
      },

      {
        description: `
        Unlike traditional custodial services where a third party might have control, HexaLite’s approach guarantees that your funds are safe from unauthorized access. 
        Only you can authorize transactions and access your assets.`,
        title: 'No Interference or Unauthorized Access',
      },
    ]}
    image={{
      src: onboardBackupImg,
      alt: 'onboard with secure solution',
      class: 'fitContent m-auto',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Self-Custodial: Your Assets, Your Control
      </h3>
      Your Wallet is designed to ensure that you maintain total ownership & authority over your holdings. 
      This means that no one—not even HexaLite can move, access, or manage your assets without your explicit permission.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    items={[
      {
        description: `
        Our onboarding process is designed to save you time. 
        Whether you’re setting up a new account or connecting an existing one, HexaLite ensures that the process is as quick as possible.`,
        title: `Efficiency`,
      },
      {
        description: `We understand that not everyone is tech-savvy. 
        That’s why our platform is intuitive and straightforward, guiding you every step of the way.`,
        title: 'Simplicity',
      },

      {
        description: `
        Your security is our priority. 
        HexaLite uses advanced encryption and secure verification methods to protect your personal information and financial data.`,
        title: 'Security',
      },
    ]}
    image={{
      src: onboardSecurityImg,
      alt: 'onboard with secure solution',
      class: 'fitContent m-auto',
    }}
    classes={{
      wrapperClass: 'shader__section',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Why Choose HexaLite for Onboarding?
      </h3>
      
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- CallToAction Widget *********** -->

  <CallToAction id="download" title="Create you digital Wallet now!" subtitle="Start your journey to financial freedom today.">
    <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="primary" href={appDownloadLink}> Download Hexa Lite </Button>
    </div>
  </CallToAction>

</Layout>
