---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps2 from '~/components/widgets/Steps2.astro';

const installImg = '~/assets/images/install-cross-platform.svg';
const metadata = {
  title: 'Download and Install Application',
};
---

<Layout metadata={metadata}>

  <Hero
    tagline="cross platform app"
    image={{
      src: installImg,
    alt: 'install cross platform app',
    class: ' fitContent m-auto',
    }}
    actions={[
      {
        target: '_blank',
        text: 'Launch Progressive Web App',
        href: 'https://app.hexa-lite.io',
        variant: 'primary',
      },
    
    ]}
  >
    <Fragment slot="title">
      Download & Install
    </Fragment>

    <Fragment slot="subtitle">
      Due to the nature of the app, we have made it available on multiple platforms using the latest web technologies call PWA (Progressive Web App).
      This means you can install the app on any device without going through the app store and still get the same experience as a native app.
      This also means that the app is always up to date and you don't have to worry about updating the app.
    </Fragment>
  </Hero>

  <Steps2
    tagline='Mobile'
    title="Install Step by Step Guide"
    subtitle=`Follow the steps below to download and install Hexa Lite on your mobile device:`
    items={[
      {
        title: 'Visit distribution page',
        description: `
          Checkout <a href="https://app.hexa-lite.io" target="_blank">https://app.hexa-lite.io</a> to install the app on your device.
        `,
      },
      {
        title: 'iOS Install the app',
        description: `
          Tap the share button at the bottom of the screen and then tap on "Add to Home Screen" to install the app on your device.
        `},
      {
        title: 'Android Install the app',
        description: `
          Tap the three dots at the top right corner of the screen and then tap on "Add to Home Screen" to install the app on your device.
        `},
      {
        title: 'Desktop Install the app',
        description: `
          Click on the install button in the address bar (URL) to install the app on your device.
        `},
    ]}
  />
</Layout>
