---
import { Icon } from 'astro-icon/components';
import Image from '~/components/common/Image.astro';
import Button from '~/components/ui/Button.astro';
import Headline from '~/components/ui/Headline.astro';
import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Layout from '~/layouts/PageLayout.astro';
import { getPermalink } from '~/utils/permalinks';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';



// created_at
const metadata = {
  title: 'About the Team - Build by HexaOne Labs, with the community',
  description: 'Hexa Lite software is starting by the main team of HexaOne Labs, a Swiss based organization focused on innovation in the decentralized finance sector.',
};
const appDownloadLink = getPermalink('/download');
const swapAnyTokensImg = '~/assets/images/swap-any-tokens.png';
const swapCrossPlatformImg = '~/assets/images/swap-cross-platform.png';
const swapExoticTokensImg = '~/assets/images/swap-exotic-tokens.png';
const swapBestFeesImg = '~/assets/images/swap-best-fees.png';
---
<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
  actions={[
    {
      text: 'Learn more',
      href: '#tired-paying-excessive-transaction-fees',
    },
  ]}>
    <Fragment slot="title">
      Swap any Tokens<br /> 
      <span class="text-accent text-5xl dark:text-white highlight">at best rate & lowest fees</span>
    </Fragment>

    <Fragment slot="subtitle">
      Use decentralized exchange aggregator that sources liquidity from various DEXs & liquidity pools around DeFi protocols to provide transaction with the best rates. 
    </Fragment>
  </Hero>

  <Content
    id="tired-paying-excessive-transaction-fees"
    items={[
      {
        title: `Don't pay excessive fees for swapping tokens`,
        description: `Use decentralized exchange aggregator that use On-Chains providers to get the best rates & lowest fees for your transactions.`,
      },
      {
        title: `Swap without amount constraints`,
        description: `
          You can swap any amount of tokens you want, without any constraints or limitations. 
        `
      },
      {
        title: `Fast & Secure`,
        description: `
          We use On-Chain transactions to swap tokens directly from your wallet using decentralized protocols to ensure fast & secure transactions.
        `
      }
    ]}
    image={{
      src: swapBestFeesImg,
      alt: 'Swap best fees',
      class: 'swap_best_fees__image filter-drop-shadow ',
    }}
    classes={{
      wrapperClass: 'shader__section',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Tired of paying excessive transaction fees?
      </h3>
      Centralized exchanges charge high fees for swapping tokens. 
      With our solution you can choose from multiple On-Chain providers to get the best rate & lowest fees for your transactions.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isReversed
    items={[
      {
        description: `
          You can swap any token you want, including the most exotic ones
          that are not available on centralized exchanges.`,
        title: `Don't wait for exchanges to list your favorite tokens`,
      },
      {
        description: `We source liquidity directly from the DeFi protocols providers
          like Uniswap, Sushiswap, Balancer, Bancor and many more to give you the best rates and lowest fees.`,
        title: 'Use liquidity from DeFi protocols',
      },

      {
        description: `You don't need to use centralized exchanges or provide your personal information to swap tokens. 
          We are a non-custodial solution that allows you to swap tokens directly from your wallet on the blockchain.`,
        title: 'Secure & Private',
      },
    ]}
    image={{
      src: swapExoticTokensImg,
      alt: 'swap exotic tokens',
      class: 'swap_exotic_token__image filter-drop-shadow ',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Looking for Exotic Tokens?
      </h3>
      You will find all tokens here & you can swap them directly from your wallet using our non-custodial On-Chain solution.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    items={[
      {
        title: `All in One place`,
        description: `
          Don't waste time to find the best route to swap your tokens between different blockchains.
        `,
      },
      {
        title: `Use Decentralized provider`,
        description: `
          We use decentralized providers to swap tokens between different blockchains to ensure fast & secure transactions 
          with the best rates & lowest fees.
        `
      },
      {
        title: `No need to create multiple accounts`,
        description: `
          You can swap tokens between different blockchains without the need to manage multiple wallets or create accounts on multiple exchanges.
        `
      }
    ]} 
    image={{
      src: swapCrossPlatformImg,
      alt: 'Swap Cross Chain Tokens',
      class: 'swap_cross_platform__image filter-drop-shadow ',
    }}
    classes={{
      wrapperClass: 'shader__section',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Want swap Cross-Chain?
      </h3>
        We integrating cross-chain swaps solution to allow you to swap tokens between different blockchains 
        without the need to manage multiple wallets or create accounts on multiple exchanges. 
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- CallToAction Widget *********** -->

  <CallToAction id="download" title="Now Swap any Tokens you want!" subtitle="Start your journey to financial freedom today.">
    <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="primary" href={appDownloadLink}> Download Hexa Lite </Button>
    </div>
  </CallToAction>

</Layout>
