---
import Layout from '~/layouts/LandingLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Header from '~/components/widgets/Header.astro';
import { getPermalink } from '~/utils/permalinks';
import Content from '~/components/widgets/Content.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import { unknown } from 'astro/zod';
import ItemGrid from '~/components/ui/ItemGrid.astro';

const previewImg = '~/assets/images/preview-app.png';
const swapBestFeesImg = '~/assets/images/start-investing-crypto-swap.png';
const earningPoolImg = '~/assets/images/start-investing-crypto-earn.png';
const privacyImg = '~/assets/images/start-investing-crypto-privacy.png';

const metadata = {
  title: `Don't Miss the Cryptocurrency opportunity: Discover Bitcoin, Stablecoins, and the DeFi Revolution.`,
  description: `
  Don't miss the opportunity of the century with cryptocurrencies! 
  Learn all about Bitcoin, stablecoins, and decentralized finance (DeFi). 
  Leave your email to receive exclusive information.`
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Fragment slot="header">
    <slot name="header">
      <Header
        links={undefined}
        showToggleTheme
        position="right"
      />
    </slot>
  </Fragment>

  <Hero
    tagline="Bitcoin, Ethereum, & more"
    title="Discover the Crypto Revolution"
    subtitle=`
      Don't miss the opportunity of the century with cryptocurrencies! 
      Here you can learn all about Bitcoin, stablecoins, and decentralized finance (DeFi).`
    actions={[
      { variant: 'primary', text: 'Learn Now', href: '#cryptocurrency-introduction' },
    ]}
    image={{
      src: previewImg,
      alt: 'Start learn now',
      class: ' object-contain m-auto filter-drop-shadow',
    }}
  />

  <Content
    id="cryptocurrency-introduction"
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        The financial world is on the brink of a major revolution, a transformation that is redefining the rules of the game & opening unprecedented opportunities. 
      </h3>
      <p class="mt-4">Cryptocurrencies, an innovation that emerged just over a decade ago, are at the heart of this shift.Here, we will guide you through the fundamentals of cryptocurrencies, from Bitcoin to stablecoins, & delve into the fascinating world of decentralized finance (DeFi). </p>
      <p class="mt-4">It is crucial to understand these concepts to avoid missing out on the opportunity of the century. Get ready to discover how these innovations can transform our conception of finance.</p>  
    </Fragment>
  </Content>

  <Content
    image={unknown}
    callToAction={
      {
        variant: 'primary',
        text: 'Maximize Your Earnings',
        href: getPermalink('/get-started'),
        class: 'block md:inline sm:w-full md:w-auto'
      }
    }
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Bitcoin: The Pioneer of a New Era
      </h3>
      <p class="mt-4">
        <b>What is Bitcoin?</b><br/>
        Created in 2009 by a person or group under the pseudonym Satoshi Nakamoto, Bitcoin is the first decentralized cryptocurrency. Unlike traditional currencies, Bitcoin is not issued by a central authority like a central bank but operates on a distributed computer network called a blockchain. This network allows transactions to be validated and recorded transparently and securely, without the need for a trusted third party.
      </p>
      <p class="mt-4">
        <b>How does the blockchain work?</b><br/>
        The blockchain is a distributed ledger technology that records all transactions made with Bitcoin. Each transaction is verified by a network of nodes (computers) and added to a block. Once validated, this block is added to the existing chain of blocks, forming an immutable sequence of events. This structure ensures complete transparency and prevents any tampering, as modifying a transaction would require altering all previous blocks across the entire network.
      </p>
      <p class="mt-4">
        <b>Why is Bitcoin so important?</b><br/>
        Bitcoin is a groundbreaking innovation that has the potential to revolutionize the financial system. It offers a secure, transparent, and decentralized alternative to traditional currencies, making it an attractive investment for those seeking to diversify their portfolios and protect their wealth from inflation and economic instability.
      </p>
    </Fragment>
  </Content>

  <Content
    id="advantages-of-Bitcoin"
    isReversed
    items={[
      { title: 'Decentralization', description: 'Bitcoin operates on a decentralized network, meaning that no single entity has control over the currency. This eliminates the need for intermediaries like banks and payment processors, reducing transaction costs and increasing financial inclusion.' },
      { title: 'Transparency', description: 'All Bitcoin transactions are recorded on a public ledger, allowing anyone to view the transaction history of any address. This transparency ensures the integrity of the network and prevents fraud and corruption.' },
      { title: 'Security', description: 'Bitcoin uses advanced cryptographic techniques to secure transactions and protect user privacy. The blockchain technology that underpins Bitcoin is virtually tamper-proof, making it one of the most secure payment systems in the world.' },
      { title: 'Accessibility', description: `Bitcoin can be used anywhere in the world, as long as you have internet access. Everyone can use Bitcoin, regardless of their location or financial status, making it an inclusive and accessible form of money.
      ` }
    ]}
    image={{
      src: privacyImg,
      alt: 'security & privacy',
      class: 'filter-drop-shadow fitContent m-auto md:mt-[8rem] md:scale-125',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        The advantages of Bitcoin
      </h3>
      Bitcoin is a groundbreaking innovation that has the potential to revolutionize the financial system. It offers a secure, transparent, and decentralized alternative to traditional currencies, making it an attractive investment for those seeking to diversify their portfolios and protect their wealth from inflation and economic instability. 
    </Fragment>

    <!-- <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment> -->
  </Content>

  <Content
    id="cryptocurrency-introduction"
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        A Bitcoin ETF: Towards Broader Adoption
      </h3>
      <p class="mt-4">A Bitcoin ETF (Exchange Traded Fund) allows investors to buy shares of a fund that tracks the price of Bitcoin without having to buy and store the cryptocurrency directly. ETFs are financial instruments that follow an index, commodity, or set of assets and trade on traditional exchanges like stocks. A Bitcoin ETF simplifies access to Bitcoin for institutional and individual investors, making the investment more accessible and regulated.</p>  
      <p class="mt-4"><b>
        Economic impact of Bitcoin ETFs
      </b><br/>The introduction of Bitcoin ETFs can lead to broader adoption of the cryptocurrency, attracting a larger number of institutional investors. This could increase demand for Bitcoin, potentially raising its value. Additionally, it could also encourage regulators to adopt more favorable policies towards cryptocurrencies, thereby stimulating innovation and growth across the entire crypto ecosystem.</p>  
    </Fragment>
  </Content>

  <Content
    id="etf-Bitcoin"
    isReversed
    items={[
      {
        title: 'Simplicity',
        description: `Investing in an ETF is simpler than buying and storing Bitcoin, especially for less experienced investors.`
      },
      {
        title: `Regulation`,
        description: `Bitcoin ETFs are regulated financial products, providing investors with a level of security and oversight that is not available when buying Bitcoin directly.`
      },
      {
        title: `Liquidity`,
        description: `Bitcoin ETFs are traded on traditional exchanges, making it easier for investors to buy and sell shares at any time.`
      }
    ]}
    image={{
      src: privacyImg,
      alt: 'security & privacy',
      class: 'filter-drop-shadow fitContent m-auto md:mt-[8rem] md:scale-125',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Advantages of Bitcoin ETFs
      </h3>
      Bitcoin ETFs offer a simple, regulated, and liquid way to invest in Bitcoin, making it more accessible to a wider range of investors. By providing exposure to Bitcoin through traditional financial channels, ETFs can help bridge the gap between the traditional financial system and the world of cryptocurrencies.
    </Fragment>
  </Content>

  <Content
    id="cryptocurrency-introduction"
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Stablecoins: Stability at the Heart of Volatility
      </h3>
      <p class="mt-4"><b>
        What is a stablecoin?
      </b><br/>Stablecoins are cryptocurrencies whose value is pegged to a stable asset, such as the US dollar, euro, or gold. Unlike Bitcoin and other volatile cryptocurrencies, stablecoins offer a more stable alternative, allowing users to enjoy the benefits of blockchain technology while limiting their exposure to market volatility.</p> 
      <h4 class="text-2xl font-bold tracking-tight dark:text-white sm:text-2xl mb-2 mt-6">
        Types of stablecoins
      </h4> 
      <p class="mb-4">
        There are several types of stablecoins, each with its own mechanism for maintaining price stability. The three main categories are:
      </p>
      <ul>
        <li class="mb-2">
          <b>Fiat-collateralized stablecoins</b><br/>
          These stablecoins are backed by reserves of fiat currency, like the US dollar. For each stablecoin in circulation, an equivalent unit of the fiat currency is held in reserve. Example: Tether (USDT).
        </li>
        <li class="mb-2">
          <b>Crypto-collateralized stablecoins</b><br/>
          These stablecoins are backed by other cryptocurrencies. They are often over-collateralized to compensate for the volatility of the backing assets. Example: DAI, backed by Ethereum.
        </li>
        <li>
          <b>Non-collateralized stablecoins</b><br/>
          These stablecoins do not have any collateral backing them. Instead, they use algorithms to maintain a stable value. Example: Ampleforth (AMPL).
        </li>
      </ul> 
    </Fragment>
  </Content>
  
  <Testimonials
    title="What our users say?"
    testimonials={[
      {
        testimonial: `
          Investing in crypto has never been easier. Hexa Lite is the perfect tool for beginners that want to start investing in digital assets with ease.
        `,
        name: 'Sara B',
        image: {
          src: 'https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Sara B Image',
        },
      },
      {
        testimonial: `I love how I can manage multiple tokens accross various network with only one wallet with simple interface. Hexa Lite truly delivers.`,
        name: 'Josh W',
        image: {
          src: 'https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Josh W Image',
        },
      },
      {
        testimonial: `
        Hexa Lite allows me to earn passive income on my crypto assets by providing liquidity to various DeFi protocols withou any hassle and while keeping my funds secure. I love it!`,
        name: 'Sidney H',
        image: {
          src: 'https://images.unsplash.com/photo-1512361436605-a484bdb34b5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Sidney H Image',
        },
      },
    ]}
    classes={{
      container: 'shader__section',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 shader__section dark:bg-transparent"></div>
    </Fragment>
  </Testimonials> 

  <CallToAction
    title="Get Started with Hexa Lite"
    subtitle="Create a Wallet & start investing in crypto assets in just a few minutes"
    actions={[
      {
        variant: 'primary',
        text: 'Start investing now',
        href: getPermalink('/get-started'),
      },
    ]}
  />

</Layout>