---
import Layout from '~/layouts/LandingLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Header from '~/components/widgets/Header.astro';
import { getPermalink } from '~/utils/permalinks';
import Content from '~/components/widgets/Content.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Stats from '~/components/widgets/Stats.astro';
import type { MetaData } from '~/types';
import FAQs from '~/components/widgets/FAQs.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Button from '~/components/ui/Button.astro';
import Headline from '~/components/ui/Headline.astro';

const previewImg = '~/assets/images/symbols.png';
const swapImg = '~/assets/images/swap.svg';
const descover2Img = '~/assets/images/start-investing-crypto-earn.png';

const metadata: MetaData = {
  title: `Understand Cryptocurrencies. Access to Our Exclusive Guide for Free & Master Cryptocurrencies Today.`,
  description: `
  Don't miss the opportunity of the century with cryptocurrencies! Access to Our Exclusive Guide for Free & Master Cryptocurrencies Today 
  by learn all about Bitcoin, stablecoins and decentralized finance (DeFi).`,
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Fragment slot="header">
    <slot name="header">
      <Header links={undefined} showToggleTheme position="right" />
    </slot>
  </Fragment>

  <Hero
    tagline="Bitcoin, Ethereum & more"
    title=`Understand <span class="text-4xl md:text-6xl">Cryptocurrencies</span>`
    `
    subtitle=`
    Access to Our Exclusive Guide for Free & Master Cryptocurrencies Today
    `
    actions={[{ variant: 'primary', text: 'Learn Now', href: '#why-learn-cryptocurrencies' }]}
    image={{
      src: previewImg,
      alt: 'Start learn now',
      class: ' object-contain m-auto filter-drop-shadow !max-w-[1024px] ',
    }}
  />

  <Features
    id="why-learn-cryptocurrencies"
    title="Why Learn Cryptocurrencies?"
    subtitle="Cryptocurrencies are the future of financial transactions & investments. Discover why you should learn about them today and how they can benefit you."
    items={[
      {
        title: 'Portfolio Diversification',
        description: 'Cryptocurrencies can help diversify an investment portfolio while providing high returns.',
        icon: 'tabler:bulb',
      },
      {
        title: 'Unlock Opportunities',
        description: `Digitals assets like cryptocurrencies offer unique investment opportunities that can't be found elsewhere.`,
        icon: 'tabler:rocket',
      },
      {
        title: 'Secure Your Financial Future',
        description: `Cryptocurrencies can protect your wealth from inflation and economic instability.`,
        icon: 'tabler:lock',
      },
      {
        title: `Don't Get Left Behind`,
        description: `Investing in cryptocurrencies supports the development of blockchain technology, which has the potential to revolutionize various industries`,
        icon: 'tabler:bolt',
      },
      {
        title: `24/7 Market Access`,
        description: `Unlike traditional stock markets, cryptocurrency markets are open 24 hours a day, 7 days a week, allowing you to trade at any time that suits you.`,
        icon: 'tabler:clock',
      },
      {
        title: `Decentralized & Censorship-Resistant`,
        description: 'You can use cryptocurrencies anywhere in the world without restrictions.',
        icon: 'tabler:shield-check',
      },
      // {
      //   title: 'Understand the Basics',
      //   description: 'Learn the history & fundamental concepts.',
      //   icon: 'tabler:list-check',
      // },
      // {
      //   title: 'Secure Your Investments',
      //   description: 'Discover how to protect your assets.',
      //   icon: 'tabler:lock',
      // },
      // {
      //   title: 'Manage Volatility',
      //   description: 'Learn strategies to navigate unstable markets.',
      //   icon: 'tabler:chart-line',
      // },
      // {
      //   title: 'Explore Blockchain',
      //   description: `Understand the technology that powers cryptocurrencies.`,
      //   icon: 'tabler:lock',
      // },
    ]}
  />

  <CallToAction
    classes={{
      container: 'xxx !pt-0',
    }}
    actions={[
      {
        variant: 'primary',
        text: 'Get my Guide Now',
        href: getPermalink('#get-my-guide-now'),
      },
    ]}
  />

  <Content
    id="advantages-of-Bitcoin"
    isReversed
    title=`What You'll Discover`
    subtitle="Our guide covers everything you need to know about cryptocurrencies, from the basics to advanced concepts."
    items={[
      {
        title: 'Introduction to Cryptocurrencies',
        description: 'History and key concepts.',
        classes: { icon: 'bg-blue-500 dark:bg-blue-500' },
      },
      {
        title: 'How Cryptocurrencies Work',
        description: 'Mechanisms and importance.',
        classes: { icon: 'bg-blue-500 dark:bg-blue-500' },
      },
      {
        title: 'Blockchain Technology',
        description: `Understanding the technological foundation.`,
        classes: { icon: 'bg-blue-500 dark:bg-blue-500' },
      },
      {
        title: `
          Current legal & regulatory environment
        `,
        description: `Understand the current legal and regulatory environment.`,
        classes: { icon: 'bg-blue-500 dark:bg-blue-500' },
      },
    ]}
    image={{
      src: swapImg,
      alt: 'discover Crypto image',
      class: '',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 shader__section dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    items={[
      {
        title: `Solutions for gaining exposure to crypto`,
        description: `
          What regulated and secure ways are currently available to gain exposure to cryptocurrencies.
        `,
        classes: { icon: 'bg-blue-500 dark:bg-blue-500' },
      },
      {
        title: 'Security & Volatility Management',
        description: 'What tools are available to secure and manage crypto investments and navigate volatile markets.',
        classes: { icon: 'bg-blue-500 dark:bg-blue-500' },
      },
      {
        title: `
          Decentralized Finance (DeFi) & Stablecoins
        `,
        description: `
          How DeFi and stablecoins are used in the crypto ecosystem and their benefits.
        `,
        classes: { icon: 'bg-blue-500 dark:bg-blue-500' },
      },
    ]}
    image={{
      src: descover2Img,
      alt: 'discover Crypto image',
      class: `object-contain m-auto filter-drop-shadow !max-w-[1024px]`,
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">You will also learn about:</h3>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 shader__section dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Testimonials
    title="What our users say?"
    testimonials={[
      {
        testimonial: `
          This guide transformed my understanding of cryptocurrencies. I now feel ready to invest.
        `,
        name: 'Sara B',
        image: {
          src: 'https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Sara B Image',
        },
      },
      {
        testimonial: `An invaluable resource for any technology and finance enthusiast.`,
        name: 'Josh W',
        image: {
          src: 'https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Josh W Image',
        },
      },
      {
        testimonial: `
          I was skeptical at first, but this guide is a game-changer. I highly recommend it.
        `,
        name: 'Sidney H',
        image: {
          src: 'https://images.unsplash.com/photo-1512361436605-a484bdb34b5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Sidney H Image',
        },
      },
    ]}
  />

  <CallToAction
    title="Get Your Exclusive Guide Now"
    subtitle=`
      Download our free guide & start mastering cryptocurrencies today.
    `
    actions={[
      {
        variant: 'primary',
        text: 'Get my Guide Now',
        href: getPermalink('#get-my-guide-now'),
      },
    ]}
  />

  <Features2
    title="About us"
    subtitle=`This Cryptocurrency Guide is write by HexaOne Labs.<br/>
    We're a passionate team of blockchain innovators based in Switzerland, dedicated to advancing decentralized technology. <br/><br/>
    Our mission is to make the world of cryptocurrencies & decentralized finance accessible to everyone, regardless of their experience level.<br/><br/>
    `
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 shader__section dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <Stats
    title="Discover impact of our Guide"
    subtitle="The numbers below reflect the trust our users have placed in us and the remarkable outcomes we've helped them achieve."
    stats={[
      { title: 'Guide downloads', amount: '186K' },
      { title: `Increase Knowledge`, amount: '92%' },
      { title: 'User Ratings', amount: '4.8' },
    ]}
  />

  <!-- <FAQs
      title='Frequently Asked Questions'
      subtitle='Here are some common questions about the guide.'
      items={[
        {
          title: `How can I access the guide?`,
          description: `
          Simply fill out the request form with your email, 
          and you'll receive an email back with a link to download the guide.`,
        },
        {
          title: `
          How long does it take to read the guide?
          `,
          description: `
          The guide is designed to be read in one sitting,
          but you can also read it in sections if you prefer.
          `
        }
      ]}
   /> -->

  <WidgetWrapper id={'get-my-guide-now'} isDark={false} containerClass={`max-w-6xl mx-auto !pt-[30vh] !pb-[15vh]`}>
    <div class="max-w-3xl mx-auto text-center p-6 rounded dark:border dark:border-slate-600">
      <Headline
        title={'Get Your Exclusive Guide Now'}
        subtitle={'Fill out the form below and instantly receive your free guide!'}
        classes={{
          container: 'mb-0 md:mb-0',
          title: 'text-4xl md:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading',
          subtitle: 'text-xl text-muted dark:text-slate-400',
        }}
      />

      <form
        method="post"
        action="https://newsletter.infomaniak.com/v3/api/1/newsletters/webforms/17775/submit"
        class="inf-form mt-6"
      >
        <input type="email" name="email" style="display:none" />
        <input
          type="hidden"
          name="key"
          value="eyJpdiI6Ik1PVUc2aDdKMUJJREMxOWlEb21VZ3dsXC9RMm5aKzlxQXE2cURYWGlGXC8zOD0iLCJtYWMiOiIyZTZmNTg0NjMzMzZkMzViZDU2NmZjYTM5YmYzZGFiMmM2NTdlMmRiZDQxN2Y4Mjg3MWM1ZjM5MTIyZTExNmFkIiwidmFsdWUiOiJuN1lsWDl5NFNQbDN5aG5pNzlYWlpGMVFcLzlyN2l2eERcL29KOWU0SURzYms9In0="
        />
        <input type="hidden" name="webform_id" value="17775" />

        <div class="inf-content m-auto max-w-[400px]">
          <div class="inf-input inf-input-text">
            <input
              type="email"
              name="inf[1]"
              data-inf-meta="1"
              data-inf-error=""
              required="required"
              placeholder="Email *"
              class="transition outline-none py-4 px-5 border rounded-lg focus:border-dark-slate-grey w-full"
            />
          </div>
          <div class="inf-rgpd"></div>
          <div style="">
            <label
              data-mcaptcha_url="https://captcha.infomaniak.com/widget/?sitekey=wKJaAigS1e48fWgqtjvg5w7rKA6QIwmy"
              for="mcaptcha__token"
              id="mcaptcha__token-label"
            >
              <input type="text" name="mcaptcha__token" id="mcaptcha__token" />
            </label>
            <div id="mcaptcha__widget-container"></div>
            <script src="https://unpkg.com/@mcaptcha/vanilla-glue@0.1.0-rc2/dist/index.js"></script>
          </div>
          <Button id="btn-success" text="Get my Guide Now" type="submit" variant="primary" class="mt-6 w-full" />
        </div>
       
      </form>
    </div>
  </WidgetWrapper>

  <Fragment slot="footer">
    <slot name="footer">
      <div
        class="dark text-muted text-sm bg-black dark:border-b dark:border-slate-800 dark:text-slate-400 overflow-hidden px-3 py-2 relative text-center margin-auto"
      >
        Provided by
        <a href="https://hexa-lite.io" class="text-muted hover:underline dark:text-slate-400 font-medium">Hexa Lite</a> from
        <a
          target="_blank"
          rel="noopener"
          href="https://hexaonelabs.com"
          class="text-muted hover:underline dark:text-slate-400 font-medium"
          >HexaOne Labs
        </a>
        core team.
      </div>
    </slot>
  </Fragment>
</Layout>
