---
import Layout from '~/layouts/LandingLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Header from '~/components/widgets/Header.astro';
import { getPermalink } from '~/utils/permalinks';
import Content from '~/components/widgets/Content.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Stats from '~/components/widgets/Stats.astro';

const previewImg = '~/assets/images/symbols.png';
const swapImg = '~/assets/images/swap.svg';

const metadata = {
  title: `Understand Cryptocurrencies. Access to Our Exclusive Guide for Free & Master Cryptocurrencies Today.`,
  description: `
  Don't miss the opportunity of the century with cryptocurrencies! 
  Learn all about Bitcoin, stablecoins, and decentralized finance (DeFi). 
  Leave your email to receive exclusive information.`
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Fragment slot="header">
    <slot name="header">
      <Header
        links={undefined}
        showToggleTheme
        position="right"
      />
    </slot>
  </Fragment>

  <Hero
    tagline="Bitcoin, Ethereum, & more"
    title="Understand Crypto Assets"
    subtitle=`
    Access to Our Exclusive Guide for Free & Master Cryptocurrencies Today
    `
    actions={[
      { variant: 'primary', text: 'Learn Now', href: '#why-learn-cryptocurrencies' },
    ]}
    image={{
      src: previewImg,
      alt: 'Start learn now',
      class: ' object-contain m-auto filter-drop-shadow !max-w-[1024px] ',  
    }}
  />

  <Features
    id="why-learn-cryptocurrencies"
    title="Why Learn Cryptocurrencies?"
    subtitle="Cryptocurrencies are the future of financial transactions & investments. Discover the benefits of our exclusive guide to master cryptocurrencies."
    items={[
      {
        title: 'Embrace the Future of Finance',
        description: 'Discover why using crypto is a smart move today!',
        icon: 'tabler:bulb',
      },
      {
        title: 'Unlock Opportunities',
        description: 'Discover the potential of cryptocurrencies.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Secure Your Financial Future',
        description: 'Learn how to protect your investments.',
        icon: 'tabler:lock',
      },
      {
        title: `Don't Get Left Behind`,
        description: 'Understand the technology that powers the future.',
        icon: 'tabler:bolt',
      }
      // {
      //   title: 'Understand the Basics',
      //   description: 'Learn the history & fundamental concepts.',
      //   icon: 'tabler:list-check',
      // },
      // {
      //   title: 'Secure Your Investments',
      //   description: 'Discover how to protect your assets.',
      //   icon: 'tabler:lock',
      // },
      // {
      //   title: 'Manage Volatility',
      //   description: 'Learn strategies to navigate unstable markets.',
      //   icon: 'tabler:chart-line',
      // },
      // {
      //   title: 'Explore Blockchain',
      //   description: `Understand the technology that powers cryptocurrencies.`,
      //   icon: 'tabler:lock',
      // },
    ]}
  />

  <Content
    id="advantages-of-Bitcoin"
    isReversed
    title=`What You'll Discover`
    subtitle="Our guide covers everything you need to know about cryptocurrencies, from the basics to advanced concepts."
    items={[
      { title: 'Introduction to Cryptocurrencies', description: 'History and key concepts.', classes: { icon: 'bg-blue-500 dark:bg-blue-500' } },
      { title: 'How Cryptocurrencies Work', description: 'Mechanisms and importance.', classes: { icon: 'bg-blue-500 dark:bg-blue-500' } },
      { title: 'Security and Volatility', description: 'Tools to secure and manage your investments.', classes: { icon: 'bg-blue-500 dark:bg-blue-500' } },
      { title: 'Blockchain Technology', description: `Understanding the technological foundation.`, classes: { icon: 'bg-blue-500 dark:bg-blue-500' } }
    ]}
    image={{
      src: swapImg,
      alt: 'discover Crypto image',
      class: '',
    }}
  >
 
    <Fragment slot="bg">
      <div class="absolute inset-0 shader__section dark:bg-transparent"></div>
    </Fragment>
  </Content>
  
  <Testimonials
    title="What our users say?"
    testimonials={[
      {
        testimonial: `
          This guide transformed my understanding of cryptocurrencies. I now feel ready to invest.
        `,
        name: 'Sara B',
        image: {
          src: 'https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Sara B Image',
        },
      },
      {
        testimonial: `An invaluable resource for any technology and finance enthusiast.`,
        name: 'Josh W',
        image: {
          src: 'https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Josh W Image',
        },
      },
      {
        testimonial: `
          I was skeptical at first, but this guide is a game-changer. I highly recommend it.
        `,
        name: 'Sidney H',
        image: {
          src: 'https://images.unsplash.com/photo-1512361436605-a484bdb34b5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Sidney H Image',
        },
      },
    ]}
  >
  </Testimonials> 

  <CallToAction
    title="Get Your Exclusive Guide Now"
    subtitle="Fill out the form below and instantly receive your free guide!"
    actions={[
      {
        variant: 'primary',
        text: 'Get my Guide Now',
        href: getPermalink('/get-started'),
      },
    ]}
  />

  <Features2
    title="About us"
    subtitle=`This Cryptocurrency Guide is write by HexaOne Labs.<br/>
    We're a passionate team of blockchain innovators based in Switzerland, dedicated to advancing decentralized technology. Our mission is to make the world of cryptocurrencies & decentralized finance accessible to everyone, regardless of their experience level.<br/><br/>
    Our resources are designed to be accessible and understandable, regardless of your knowledge level.`
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 shader__section dark:bg-transparent"></div>
    </Fragment>
  </Features2>


  <Stats
    title="Discover the impressive impact of our Guide"
    subtitle="The numbers below reflect the trust our users have placed in us and the remarkable outcomes we've helped them achieve."
    stats={[
      { title: 'Guide downloads', amount: '186K' },
      { title: `Increase Knowledge`, amount: '92%' },
      { title: 'User Ratings', amount: '4.8' },
    ]}
  />

  <CallToAction
    title="Get Your Exclusive Guide Now"
    subtitle="Fill out the form below and instantly receive your free guide!"
    actions={[
      {
        variant: 'primary',
        text: 'Get my Guide Now',
        href: getPermalink('/get-started'),
      },
    ]}
  />

  <Fragment slot="footer">
    <slot name="footer">
      <div
        class="dark text-muted text-sm bg-black dark:border-b dark:border-slate-800 dark:text-slate-400 hidden md:flex gap-1 overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
      >
        Provided by 
        <a href="https://hexa-lite.io" class="text-muted hover:underline dark:text-slate-400 font-medium"
          >HexaLite</a
        > from 
        <a
          target="_blank"
          rel="noopener"
          href="https://hexaoneloabs.com"
          class="text-muted hover:underline dark:text-slate-400 font-medium"
        >HexaOne Labs
        </a> 
        core team.
      </div>
    </slot>
  </Fragment>
</Layout>