---
import Layout from '~/layouts/LandingLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Header from '~/components/widgets/Header.astro';
import { getPermalink } from '~/utils/permalinks';
import Content from '~/components/widgets/Content.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Stats from '~/components/widgets/Stats.astro';

const previewImg = '~/assets/images/symbols.png';
const swapImg = '~/assets/images/swap.svg';
const descover2Img = '~/assets/images/start-investing-crypto-earn.png';

const metadata = {
  title: `Understand Cryptocurrencies. Access to Our Exclusive Guide for Free & Master Cryptocurrencies Today.`,
  description: `
  Don't miss the opportunity of the century with cryptocurrencies! 
  Learn all about Bitcoin, stablecoins, and decentralized finance (DeFi). 
  Leave your email to receive exclusive information.`
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Fragment slot="header">
    <slot name="header">
      <Header
        links={undefined}
        showToggleTheme
        position="right"
      />
    </slot>
  </Fragment>

  <Hero
    tagline="Bitcoin, Ethereum & more"
    title=`Understand <span class="text-4xl md:text-6xl">Cryptocurrencies</span>``
    subtitle=`
    Access to Our Exclusive Guide for Free & Master Cryptocurrencies Today
    `
    actions={[
      { variant: 'primary', text: 'Learn Now', href: '#why-learn-cryptocurrencies' },
    ]}
    image={{
      src: previewImg,
      alt: 'Start learn now',
      class: ' object-contain m-auto filter-drop-shadow !max-w-[1024px] ',  
    }}
  />

  <Features
    id="why-learn-cryptocurrencies"
    title="Why Learn Cryptocurrencies?"
    subtitle="Cryptocurrencies are the future of financial transactions & investments. Discover why you should learn about them today and how they can benefit you."
    items={[
      {
        title: 'Portfolio Diversification',
        description: 'Cryptocurrencies can help diversify an investment portfolio while providing high returns.',
        icon: 'tabler:bulb',
      },
      {
        title: 'Unlock Opportunities',
        description: `Digitals assets like cryptocurrencies offer unique investment opportunities that can't be found elsewhere.`,
        icon: 'tabler:rocket',
      },
      {
        title: 'Secure Your Financial Future',
        description: `Cryptocurrencies can protect your wealth from inflation and economic instability.`,
        icon: 'tabler:lock',
      },
      {
        title: `Don't Get Left Behind`,
        description: `Investing in cryptocurrencies supports the development of blockchain technology, which has the potential to revolutionize various industries`,
        icon: 'tabler:bolt',
      },
      {
        title: `24/7 Market Access`,
        description: `Unlike traditional stock markets, cryptocurrency markets are open 24 hours a day, 7 days a week, allowing you to trade at any time that suits you.`,
        icon: 'tabler:clock',
      },
      {
        title: `Decentralized & Censorship-Resistant`,
        description: 'You can use cryptocurrencies anywhere in the world without restrictions.',
        icon: 'tabler:shield-check',
      }
      // {
      //   title: 'Understand the Basics',
      //   description: 'Learn the history & fundamental concepts.',
      //   icon: 'tabler:list-check',
      // },
      // {
      //   title: 'Secure Your Investments',
      //   description: 'Discover how to protect your assets.',
      //   icon: 'tabler:lock',
      // },
      // {
      //   title: 'Manage Volatility',
      //   description: 'Learn strategies to navigate unstable markets.',
      //   icon: 'tabler:chart-line',
      // },
      // {
      //   title: 'Explore Blockchain',
      //   description: `Understand the technology that powers cryptocurrencies.`,
      //   icon: 'tabler:lock',
      // },
    ]}
  />

  <Content
    id="advantages-of-Bitcoin"
    isReversed
    title=`What You'll Discover`
    subtitle="Our guide covers everything you need to know about cryptocurrencies, from the basics to advanced concepts."
    items={[
      { title: 'Introduction to Cryptocurrencies', description: 'History and key concepts.', classes: { icon: 'bg-blue-500 dark:bg-blue-500' } },
      { title: 'How Cryptocurrencies Work', description: 'Mechanisms and importance.', classes: { icon: 'bg-blue-500 dark:bg-blue-500' } },
      { title: 'Blockchain Technology', description: `Understanding the technological foundation.`, classes: { icon: 'bg-blue-500 dark:bg-blue-500' } },
      { 
        title: `
          Current legal & regulatory environment
        `, 
        description: `Understand the current legal and regulatory environment.`, 
        classes: { icon: 'bg-blue-500 dark:bg-blue-500' } },
    ]}
    image={{
      src: swapImg,
      alt: 'discover Crypto image',
      class: '',
    }}
  >
 
    <Fragment slot="bg">
      <div class="absolute inset-0 shader__section dark:bg-transparent"></div>
    </Fragment>
  </Content>
  
  <Content
    items={[
      { 
        title: `Solutions for gaining exposure to crypto`, 
        description: `
          What regulated and secure ways are currently available to gain exposure to cryptocurrencies.
        `, 
        classes: { icon: 'bg-blue-500 dark:bg-blue-500' } },       
      { 
        title: 'Security & Volatility Management', 
        description: 'What tools are available to secure and manage crypto investments and navigate volatile markets.', 
        classes: { icon: 'bg-blue-500 dark:bg-blue-500' } },
      {
        title: `
          Decentralized Finance (DeFi) & Stablecoins
        `,
        description: `
          How DeFi and stablecoins are used in the crypto ecosystem and their benefits.
        `,
        classes: { icon: 'bg-blue-500 dark:bg-blue-500' }
      }

    ]}
    image={{
      src: descover2Img,
      alt: 'discover Crypto image',
      class: `object-contain m-auto filter-drop-shadow !max-w-[1024px]`,
    }}
  >
 
    <Fragment slot="content">
      <h3 class=" text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        You will also learn about:
      </h3>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 shader__section dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Testimonials
    title="What our users say?"
    testimonials={[
      {
        testimonial: `
          This guide transformed my understanding of cryptocurrencies. I now feel ready to invest.
        `,
        name: 'Sara B',
        image: {
          src: 'https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Sara B Image',
        },
      },
      {
        testimonial: `An invaluable resource for any technology and finance enthusiast.`,
        name: 'Josh W',
        image: {
          src: 'https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Josh W Image',
        },
      },
      {
        testimonial: `
          I was skeptical at first, but this guide is a game-changer. I highly recommend it.
        `,
        name: 'Sidney H',
        image: {
          src: 'https://images.unsplash.com/photo-1512361436605-a484bdb34b5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Sidney H Image',
        },
      },
    ]}
  >
  </Testimonials> 

  <CallToAction
    title="Get Your Exclusive Guide Now"
    subtitle="Fill out the form below and instantly receive your free guide!"
    actions={[
      {
        variant: 'primary',
        text: 'Get my Guide Now',
        href: getPermalink('/get-started'),
      },
    ]}
  />

  <Features2
    title="About us"
    subtitle=`This Cryptocurrency Guide is write by HexaOne Labs.<br/>
    We're a passionate team of blockchain innovators based in Switzerland, dedicated to advancing decentralized technology. <br/><br/>
    Our mission is to make the world of cryptocurrencies & decentralized finance accessible to everyone, regardless of their experience level.<br/><br/>
    `
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 shader__section dark:bg-transparent"></div>
    </Fragment>
  </Features2>


  <Stats
    title="Discover impact of our Guide"
    subtitle="The numbers below reflect the trust our users have placed in us and the remarkable outcomes we've helped them achieve."
    stats={[
      { title: 'Guide downloads', amount: '186K' },
      { title: `Increase Knowledge`, amount: '92%' },
      { title: 'User Ratings', amount: '4.8' },
    ]}
  />

  <CallToAction
    title="Get Your Exclusive Guide Now"
    subtitle="Fill out the form below and instantly receive your free guide!"
    actions={[
      {
        variant: 'primary',
        text: 'Get my Guide Now',
        href: getPermalink('/get-started'),
      },
    ]}
  />

  <Fragment slot="footer">
    <slot name="footer">
      <div
        class="dark text-muted text-sm bg-black dark:border-b dark:border-slate-800 dark:text-slate-400  overflow-hidden px-3 py-2 relative text-center margin-auto"
      >
        Provided by 
        <a href="https://hexa-lite.io" class="text-muted hover:underline dark:text-slate-400 font-medium"
          >Hexa Lite</a
        > from 
        <a
          target="_blank"
          rel="noopener"
          href="https://hexaonelabs.com"
          class="text-muted hover:underline dark:text-slate-400 font-medium"
        >HexaOne Labs
        </a> 
        core team.
      </div>
    </slot>
  </Fragment>
</Layout>